body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

.contenedor-evento {
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-top: 80px; 
}

.fila {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.columna-formulario {
    width: 60%;
}

.columna-reglas {
    width: 35%;
    padding: 15px;
    border-radius: 5px;
}

.columna-reglas h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; 
}

.columna-reglas ul {
    list-style-type: disc;
    padding-left: 20px;
}

.titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center; 
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario input,
.formulario select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#btn-agregar {
    width: 200px;
    background: #333333;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    align-self: center;
}

#btn-agregar:hover {
    background: #666;
}
.subtitulo {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    text-align: left;
}

#tabla-eventos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#tabla-eventos th, 
#tabla-eventos td {
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
}

#tabla-eventos th {
    background: #333333; 
    color: white;
    font-weight: bold;
}

#tabla-eventos td {
    background: #f9f9f9; 
}

.boton-eliminar {
    background: red;
    color: white;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
}

.boton-eliminar:hover {
    background: darkred;
}