.contenedor-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 80px;
}

.grid-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 80%;
    max-width: 1200px;
}

.columna-derecha {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.columna-derecha .imagen-grande {
    flex: 1;
    display: flex;
    height: 50%;
}

.columna-derecha .imagen-grande img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.grupo-imagenes {
    display: flex;
    flex: 1;
    gap: 10px;
    height: 50%;
}

.grupo-imagenes .imagen-pequena {
    flex: 1;
    display: flex;
}

.grupo-imagenes .imagen-pequena img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.columna-izquierda {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.columna-izquierda .imagen-grande {
    flex: 1;
    display: flex;
}

.columna-izquierda .imagen-grande img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.noticias {
    margin-top: 20px;
    width: 80%;
    max-width: 1200px;
}

.noticias h2 {
    text-align: center;
}

.contenedor-noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.columna-izquierda {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.noticia {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 15px;
}

.noticia img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.texto-noticia {
    padding: 15px;
}

.texto-noticia h3 {
    margin: 0 0 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.texto-noticia p {
    margin: 0;
    font-size: 16px;
}

/* Sección de eventos */
.columna-derecha {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.evento-lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.evento {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    background: #f9f9f9;
    margin-bottom: 15px; /* Espacio entre eventos */
}

.evento img {
    width: 120px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.evento-info {
    flex: 1;
}

.evento-info h3 {
    font-size: 22px;
    margin-bottom: 5px;
    font-weight: bold;
}

.evento-info p {
    font-size: 16px;
    margin: 5px 0;
}

.evento-info p strong {
    font-weight: bold;
}