body {
    font-family: Arial, sans-serif;
}

.contenedor-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 80px;
}

.grid-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 80%;
    max-width: 2000px;
}

.columna-derecha {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.columna-derecha .imagen-grande {
    flex: 1;
    display: flex;
    height: 50%;
}

.columna-derecha .imagen-grande img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grupo-imagenes {
    display: flex;
    flex: 1;
    gap: 10px;
    height: 50%;
}

.grupo-imagenes .imagen-pequena {
    flex: 1;
    display: flex;
}

.grupo-imagenes .imagen-pequena img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.columna-izquierda {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.columna-izquierda .imagen-grande {
    flex: 1;
    display: flex;
}

.columna-izquierda .imagen-grande img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.noticias {
    width: 100%;
    max-width: 1000px;
}

.contenedor-noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    width: 100%;
}

.noticia {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    margin-top: -9px; 
}

.noticia img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.texto-noticia h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}

.texto-noticia p {
    font-size: 14px;
    margin-top: -30px;
}

.evento-lista {
    width: 100%;
}

.evento {
    display: flex;
    align-items: flex-start;
    border: 1px solid #ccc;
    background-color: white;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

.evento img {
    width: 210px;
    height: 220px;
    object-fit: cover;
    margin-right: 20px;
}

.evento-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.evento-info h3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.evento-info p {
    font-size: 12px;
    margin: 5px 0;
    text-align: justify;
    margin-bottom: 30px;
    margin-right: 10px;
}

.evento-info p strong {
    font-weight: bold;
}

.noticias h2 {
    text-align: center;
    width: 100%;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px; 
    margin-top: 100px;
}