{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}">
{% endblock %}

{% block content %}
    <h1 class="titulo">Eventos</h1>
    <div class="eventos-container">
        {% for evento in eventos %}
            <div class="evento-card">
                <img src="{{ evento.imagen_url }}" alt="Imagen de {{ evento.name }}" class="evento-img">
                <div class="evento-info">
                    <h2>{{ evento.name }}</h2>
                    <p class="localidad"><strong>Localidad:</strong> {{ evento.localidad.name }}</p>
                    <p class="descripcion"><strong>Descripción:</strong> Lorem ipsum dolor sit amet consectetur adipiscing elit. Quaerat, cumque. Possimus modi impedit beatae.</p>
                    <a href="{% url 'boletos' %}" class="btn-boletos">Boletos</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}