{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/eventos.css' %}">
{% endblock %}

{% block content %}
    <div class="contenedor-eventos">

        <h1 class="titulo">Eventos</h1>


        <a href="{% url 'agregar_evento' %}" class="boton-agregar-evento">Agregar evento</a>
        <div class="eventos-container">
            {% for evento in eventos %}
            <div class="evento-card">
                <img class="evento-imagen" src="{{ evento.imagen_url }}" alt="{{ evento.name }}">
                <div class="evento-info">
                    <h3 class="evento-titulo">{{ evento.name }}</h3>
                    <p><strong>Localidad:</strong> {{ evento.localidad.name }}</p>
                    <p><strong>Descripción:</strong> Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                    <a href="{% url 'boletos_por_evento' evento.id %}" class="boton-boletos">Boletos</a>

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}