{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<div class="contenedor-index">
    
    <div class="grid-imagenes">
        <div class="columna-derecha">
            <div class="imagen-grande">
                <img src="https://img.freepik.com/psd-premium/carnaval-ofertas-diseno-plantillas-redes-sociales-portugues-brasil-renderizado-3d_364106-3325.jpg?w=1480" alt="Imagen 1">
            </div>
            <div class="grupo-imagenes">
                <div class="imagen-pequena">
                    <img src="https://img.freepik.com/psd-premium/disfraces-redes-sociales-tu-carnaval_220664-6324.jpg?w=1480" alt="Imagen 2">
                </div>
                <div class="imagen-pequena">
                    <img src="https://img.freepik.com/free-vector/gradient-illustration-carnaval-de-barranquilla-celebration_23-2151152833.jpg?t=st=1740720241~exp=1740723841~hmac=50760aeaf322e3a1272ba95d5ea25178a774d813a19b0154ec051a68b3f9cd31&w=1480" alt="Imagen 4">
                </div>
            </div>
        </div>
        <div class="columna-izquierda">
            <div class="imagen-grande">
                <img src="https://img.freepik.com/vector-gratis/fondo-mardi-gras-plano_23-2150000290.jpg" alt="Imagen 3">
            </div>
            <div class="imagen-grande">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZTVwga6iGSE3EmVoigUpDYs1yv4DwoOA6gfMlUwEE8XVOQobx" alt="Imagen 5">
            </div>
        </div>
    </div>

    <section class="noticias">
        <h2>NOTICIAS</h2>
        <div class="contenedor-noticias">
            <div class="columna-izquierda">
                <div class="noticia">
                    <img src="https://img.freepik.com/premium-psd/social-media-costumes-your-carnival_220664-6324.jpg?w=1480" alt="Noticia 1">
                    <div class="texto-noticia">
                        <h3>Noticia</h3>
                        <p>El carnaval de Barranquilla es una de las festividades más importantes de Colombia y uno de los carnavales más grandes del mundo.</p>
                    </div>
                </div>
                <div class="noticia">
                    <img src="https://img.freepik.com/premium-psd/social-media-costumes-your-carnival_220664-6324.jpg?w=1480" alt="Noticia 2">
                    <div class="texto-noticia">
                        <h3>Noticia</h3>
                        <p>El carnaval de Barranquilla es una de las festividades más importantes de Colombia y uno de los carnavales más grandes del mundo.</p>
                    </div>
                </div>
            </div>
            <div class="columna-derecha">
                <div class="evento-lista">
                    {% for i in "123" %}  
                    <div class="evento">
                        <img src="https://img.freepik.com/premium-photo/3d-photo-woman-wearing-colorful-outfit-with-colorful-feathers-her-head_1227606-10209.jpg?w=1480" alt="Evento">
                        <div class="evento-info">
                            <h3>Evento #1</h3>
                            <p><strong>Localidad:</strong> Barranquilla</p>
                            <p><strong>Descripción:</strong> Lorem ipsum dolor sit amet consectetur adipiscing elit...</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}