{% csrf_token %}
<input type="hidden" id="csrf_token" value="{{ csrf_token }}">

<script>
    const USER_CREATE_URL = "{% url 'createUser' %}"; 
</script>

<form id="user-create-form">
    <label>Nombre:</label>
    <input type="text" name="name" required>

    <label>Email:</label>
    <input type="email" name="email" required>

    <label>Edad:</label>
    <input type="number" name="age" required>

    <label>RFC:</label>
    <input type="text" name="rfc" required>

    <label>Foto:</label>
    <input type="text" name="photo"> 

    <button id="create-user-button">Crear Usuario</button>
</form>

<script src="{% static 'users/usersCreate.js' %}"></script>