<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuario</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/edit_user.css' %}?v=1">
</head>
<body>
    <div class="container">
        <h1>Editar Usuario</h1>
        <form method="POST">
            {% csrf_token %}
            
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" value="{{ user.name }}" required>
            
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ user.email }}" required>

            <label for="age">Edad:</label>
            <input type="number" id="age" name="age" value="{{ user.age }}" required>

            <label for="photo">URL de Imagen:</label>
            <input type="text" id="photo" name="photo" value="{{ user.photo }}" required>
            
            <h2>Dirección</h2>

            <label for="street">Calle:</label>
            <input type="text" id="street" name="street" value="{{ user_address.street|default_if_none:'' }}" required>

            <label for="zip_code">Código Postal:</label>
            <input type="text" id="zip_code" name="zip_code" value="{{ user_address.zip_code|default_if_none:'' }}" required>

            <label for="city">Ciudad:</label>
            <input type="text" id="city" name="city" value="{{ user_address.city|default_if_none:'' }}" required>

            <label for="country">País:</label>
            <input type="text" id="country" name="country" value="{{ user_address.country|default_if_none:'' }}" required>

            <button type="submit">Actualizar</button>
        </form>
    </div>
</body>
</html>
