{% extends 'base/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block content %}

    <h1>Lista de clientes</h1>

    <div class="container">
        {% for item in users %}
            <div class="card">
                <img src="{{ item.photo }}" alt="{{ item.name }}">
                <div class="info">
                    <p><b>{{ item.name }}</b></p>
                    <p><b>ID:</b> {{ item.id }} <b>Age:</b> {{ item.age }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
