{% extends 'base/base.html' %}
{% load static %}

{% block title %}Lista de Usuarios{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block content %}
    <h1>Lista de clientes</h1>

    <div class="container-users">
        {% for item in users %}
            <div class="card">
                <img src="{{ item.photo }}" alt="{{ item.name }}">
                <div class="info">
                    <p><b>{{ item.name }}</b></p>
                    <p><b>ID:</b> {{ item.id }} <b>Age:</b> {{ item.age }}</p>
                    <a href="{% url 'users:edit_user' item.id %}" class="btn-edit">Ver</a>
                </div>
            </div>
        {% endfor %}
    </div>

    <a href="/">Volver al inicio</a>
{% endblock %}
